%flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

%flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

%fill {
  width: 100vw;
  height: 100vh
}

// MIXINS

@mixin set-font-size($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

@mixin set-element-size($width, $height:$width) {
  width: $width;
  height: $height;
}

// CONSTANTS

$task-item-width: 200px;
$task-list-gap: 30px;
